Repository chnsz/golangsdk, pull requests merged in 2023-11, with the labels that each got.

#452 feat(iam): update sdk for data source identity agencies
  openstack/identity/v3/agency/requests.go
  openstack/identity/v3/agency/results.go
Labels: LGTM

#451 feat(apig): add endpoint service permissions sdk support
  openstack/apigw/dedicated/v2/endpoints/requests.go
  openstack/apigw/dedicated/v2/endpoints/results.go
  openstack/apigw/dedicated/v2/endpoints/urls.go
Labels: LGTM

#465 feat(eps): add new request parameter in ListOpts
  openstack/eps/v1/enterpriseprojects/requests.go
Labels: feature, size/XS

#457 feat(dns): Add dns endpoint sdk
  openstack/dns/v2/endpoints/requests.go
  openstack/dns/v2/endpoints/results.go
  openstack/dns/v2/endpoints/urls.go
Labels: feature, size/M

#467 feat(Vpcep): vpcep services connections and whitelist add pagination
  openstack/vpcep/v1/services/requests.go
  openstack/vpcep/v1/services/results.go
Labels: LGTM, feature, size/M

#459 feat(dns): Add dns ipaddress sdk
  openstack/dns/v2/ipaddress/requests.go
  openstack/dns/v2/ipaddress/results.go
  openstack/dns/v2/ipaddress/urls.go
Labels: LGTM, feature, size/M

#468 feat(vpn): add vpn_connections sdk
  openstack/vpn/v5/connections/requests.go
  openstack/vpn/v5/connections/results.go
  openstack/vpn/v5/connections/urls.go
Labels: LGTM, feature, bugfix, size/M

#470 feat(dns): Add dns resolver rule associate router sdk
  openstack/dns/v2/associate/requests.go
  openstack/dns/v2/associate/results.go
  openstack/dns/v2/associate/urls.go
Labels: feature, size/S

#471 feat(waf): Complete the missing parameters in the waf domain
  openstack/waf_hw/v1/domains/requests.go
  openstack/waf_hw/v1/domains/results.go
Labels: LGTM, feature, size/S

#472 feat(dns): Add dns resolver rule sdk
  openstack/dns/v2/resolverrule/requests.go
  openstack/dns/v2/resolverrule/results.go
  openstack/dns/v2/resolverrule/urls.go
Labels: LGTM, feature, size/M

#473 feat(apig/api): conditions struct support new parameters
  openstack/apigw/dedicated/v2/apis/requests.go
Labels: LGTM, feature, size/XS

#477 feat(sfsTurbo): sfsTurbo resource support edit name field
  openstack/sfs_turbo/v1/shares/requests.go
  openstack/sfs_turbo/v1/shares/results.go
Labels: feature, size/XS

#474 feat(workspace): support the access policy sdk
  openstack/workspace/v2/accesspolicies/requests.go
  openstack/workspace/v2/accesspolicies/results.go
  openstack/workspace/v2/accesspolicies/urls.go
Labels: feature, size/M

#478 feat(workspace): desktop sdk support rebuild method
  openstack/workspace/v2/desktops/requests.go
  openstack/workspace/v2/desktops/results.go
  openstack/workspace/v2/desktops/urls.go
Labels: feature, size/S

#479 feat(workspace): support the new sdk for terminal bindings
  openstack/workspace/v2/terminals/requests.go
  openstack/workspace/v2/terminals/results.go
  openstack/workspace/v2/terminals/urls.go
Labels: feature, size/M

#482 feat(workspace): support the new sdk for policy group
  openstack/workspace/v2/policygroups/requests.go
  openstack/workspace/v2/policygroups/results.go
  openstack/workspace/v2/policygroups/urls.go
Labels: feature, size/M

#480 feat(BSS): bss add pay order
  openstack/bss/v2/orders/requests.go
  openstack/bss/v2/orders/results.go
  openstack/bss/v2/orders/urls.go
Labels: feature, size/S

#481 feat(DCS): dcs support prepaid resize
  openstack/dcs/v2/instances/requests.go
  openstack/dcs/v2/instances/results.go
  openstack/dcs/v2/instances/urls.go
Labels: feature, size/S

#483 fix(workspace): invalid json name for object list
  openstack/workspace/v2/accesspolicies/requests.go
Labels: bugfix, size/XS
