Repository chnsz/golangsdk, pull requests merged in 2023-12, with the labels that each got.

#486 feat(sfsTurbo): sfs_turbo resource support edit security_group_id field
  openstack/sfs_turbo/v1/shares/requests.go
  openstack/sfs_turbo/v1/shares/results.go
Labels: LGTM, feature, size/XS

#487 fix(waf): fix fields type and add LbAlgorithm to UpdateOpts
  openstack/waf_hw/v1/domains/requests.go
Labels: LGTM, bugfix, size/XS

#485 feat(workspace): add user group sdk support
  openstack/workspace/v2/groups/requests.go
  openstack/workspace/v2/groups/results.go
  openstack/workspace/v2/groups/urls.go
Labels: LGTM, feature, size/M

#476 feat(vpn): add sdk of connection_monitors
  openstack/vpn/v5/connection_monitors/requests.go
  openstack/vpn/v5/connection_monitors/results.go
  openstack/vpn/v5/connection_monitors/urls.go
Labels: feature, size/S

#489 feat(workspace): support the new sdk for binding eip
  openstack/workspace/v2/desktops/requests.go
  openstack/workspace/v2/desktops/results.go
  openstack/workspace/v2/desktops/urls.go
Labels: LGTM, feature, size/M

#490 feat(ELB): support availability zone modification for resource loadbalancer
  openstack/elb/v3/loadbalancers/requests.go
  openstack/elb/v3/loadbalancers/urls.go
Labels: LGTM, feature, size/S

#491 feat(workspace): desktop sdk support update network
  openstack/workspace/v2/desktops/requests.go
  openstack/workspace/v2/desktops/results.go
  openstack/workspace/v2/desktops/urls.go
Labels: feature, size/M

#492 feat(workspace): Support OPT authentication strategy
  openstack/workspace/v2/services/requests.go
  openstack/workspace/v2/services/results.go
  openstack/workspace/v2/services/urls.go
Labels: LGTM, feature, size/M

#493 feat(dataarts): support data connection sdk
  openstack/dayu/v1/connections/requests.go
  openstack/dayu/v1/connections/results.go
  openstack/dayu/v1/connections/urls.go
Labels: feature, size/M

#494 feat(VPCEP): support to query the list of VPC endpoint services
  openstack/vpcep/v1/services/requests.go
  openstack/vpcep/v1/services/results.go
Labels: feature, size/S

#495 feat(cbr/backup): Support new method to update backup share status
  openstack/cbr/v3/members/requests.go
Labels: feature, size/S

#497 feat(RDS): rds intance support modify maintain window
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
Labels: feature, size/XS

#496 feat(as): add AS activity logs datasource sdk support
  openstack/autoscaling/v1/activitylogs/requests.go
  openstack/autoscaling/v1/activitylogs/results.go
  openstack/autoscaling/v1/activitylogs/urls.go
Labels: LGTM, feature, size/M

#498 chore(fgs/function): support a new param: depend_version_list
  openstack/fgs/v2/function/results.go
Labels: size/XS, chore

#499 chore(evs): Use the DeleteWithResponse method to get the return value…
  openstack/ecs/v1/block_devices/requests.go
Labels: LGTM, size/XS, chore

#501 chore(cdm): update sdk for new params
  openstack/cdm/v1/clusters/results.go
  openstack/cdm/v1/link/requests.go
Labels: LGTM, size/XS, chore

#500 feat(Anti-DDoS): antiddos resource support alarm configuration
  openstack/antiddos/v2/alarmreminding/requests.go
  openstack/antiddos/v2/alarmreminding/results.go
  openstack/antiddos/v2/alarmreminding/testing/requests_test.go
  openstack/antiddos/v2/alarmreminding/urls.go
Labels: feature, size/M

#502 feat(cce): Add cce create certificate sdk
  openstack/cce/v3/clusters/requests.go
  openstack/cce/v3/clusters/results.go
Labels: LGTM, feature, size/XS

#506 feat(networking): networking rules add new parameters support
  openstack/networking/v3/security/rules/requests.go
Labels: LGTM, feature, size/XS

#507 feat(WAF): add new sdk to update waf domain protect status
  openstack/waf_hw/v1/domains/requests.go
  openstack/waf_hw/v1/domains/results.go
  openstack/waf_hw/v1/domains/urls.go
Labels: LGTM, feature, size/S
