Repository chnsz/golangsdk, pull requests merged in 2024-08, with the labels that each got.

#665 feat(GaussDB): gaussdb mysql instance support new methods
  openstack/taurusdb/v3/configurations/requests.go
  openstack/taurusdb/v3/configurations/results.go
  openstack/taurusdb/v3/configurations/urls.go
  openstack/taurusdb/v3/instances/requests.go
  openstack/taurusdb/v3/instances/urls.go
  openstack/taurusdb/v3/parameters/requests.go
  openstack/taurusdb/v3/parameters/results.go
  openstack/taurusdb/v3/parameters/urls.go
Labels: LGTM, feature, size/M, approved

#666 fix(Gaussdb): fix gaussdb mysql instance restart method param
  openstack/taurusdb/v3/instances/requests.go
Labels: LGTM, bugfix, size/XS, approved

#667 feat(ims/images_image): support `ImageTags` parameter for `CreateDataImageByOBSOpts` struct
  openstack/ims/v2/cloudimages/requests.go
Labels: LGTM, feature, size/XS, approved

#668 feat(dew): the secret resource support new fields
  openstack/csms/v1/secrets/requests.go
  openstack/csms/v1/secrets/results.go
Labels: LGTM, feature, size/S, approved

#669 chore: new additions and improvements new sdk to vpcep endpoint sdk
  openstack/vpcep/v1/endpoints/requests.go
  openstack/vpcep/v1/endpoints/results.go
  openstack/vpcep/v1/endpoints/urls.go
Labels: LGTM, size/M, chore, approved

#670 feat(cce): support enterprise_project_id in node and node pool
  openstack/cce/v3/nodepools/requests.go
  openstack/cce/v3/nodes/results.go
Labels: LGTM, feature, size/XS, approved

#671 feat(GaussDBForMySQL): gaussdb mysql support more methods
  openstack/taurusdb/v3/instances/requests.go
  openstack/taurusdb/v3/instances/urls.go
Labels: LGTM, feature, size/M, approved

#672 feat(ims): support `enterprise_project_id` parameter for `CreateDataImageByServerOpts` struct
  openstack/ims/v2/cloudimages/requests.go
Labels: LGTM, feature, size/XS, approved

#673 feat(ELB): elb loadbalancer support gateway mode
  openstack/elb/v3/loadbalancers/requests.go
  openstack/elb/v3/loadbalancers/results.go
Labels: LGTM, feature, size/XS, approved

#674 feat(ims): support new parameters for `CreateByOBSOpts` struct
  openstack/ims/v2/cloudimages/requests.go
Labels: LGTM, feature, size/XS, approved

#675 feat(cce): support LtsReclaimPolicy and ServiceNetwork in cluster
  openstack/cce/v3/clusters/requests.go
  openstack/cce/v3/clusters/results.go
Labels: LGTM, feature, size/XS, approved
