Repository chnsz/golangsdk, pull requests merged in 2024-04, with the labels that each got.

#599 feat(drs): support dual AZ in job
  openstack/drs/v3/jobs/requests.go
  openstack/drs/v3/jobs/results.go
  openstack/drs/v3/jobs/urls.go
Labels: LGTM, feature, size/S

#600 feat(CDN): add new sdk to query cdn domain tags
  openstack/cdn/v1/domains/requests.go
  openstack/cdn/v1/domains/urls.go
Labels: feature, size/XS

#602 ci: add prow robot
  .github/labeler.yml
  .github/workflows/prow-command.yml
  .github/workflows/prow-merge-on-lgtm.yml
  OWNERS
Labels: size/S

#601 fix(drs): fix attribute type for alarm notify
  openstack/drs/v3/jobs/results.go
Labels: LGTM, bugfix, size/XS

#603 feat(elb): support new params for pool
  openstack/elb/v3/pools/requests.go
  openstack/elb/v3/pools/results.go
Labels: LGTM, feature, size/S, approved

#604 ci: update prow robot schedule
  .github/workflows/prow-merge-on-lgtm.yml
Labels: LGTM, size/XS, approved

#605 feat(dli): support queue scaling policies to an elastic resource pool
  openstack/dli/v3/elasticresourcepool/requests.go
  openstack/dli/v3/elasticresourcepool/results.go
  openstack/dli/v3/elasticresourcepool/urls.go
Labels: LGTM, feature, size/M, approved

#606 fix(elb): fix persistence type for pool
  openstack/elb/v3/pools/results.go
Labels: LGTM, bugfix, size/XS, approved

#608 feat(dli): the flink sql job supports generating stream graphs
  openstack/dli/v1/flinkjob/requests.go
  openstack/dli/v1/flinkjob/results.go
  openstack/dli/v3/flinkjob/requests.go
  openstack/dli/v3/flinkjob/result.go
  openstack/dli/v3/flinkjob/urls.go
Labels: LGTM, feature, size/S, approved

#607 feat(elb): support new params for shared pool
  openstack/elb/v2/pools/requests.go
  openstack/elb/v2/pools/results.go
Labels: LGTM, feature, size/S, approved

#609 feat(RDS): rds instance support tde
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
  openstack/rds/v3/instances/urls.go
Labels: LGTM, feature, size/S, approved

#611 feat(elb): add attrs for policy and ipgroup
  openstack/elb/v3/ipgroups/results.go
  openstack/elb/v3/l7policies/results.go
Labels: LGTM, feature, size/XS, approved

#610 feat(dli): the queue supports setting properities
  openstack/dli/v3/queues/requests.go
  openstack/dli/v3/queues/result.go
  openstack/dli/v3/queues/urls.go
Labels: LGTM, feature, size/M, approved

#612 feat(elb): support new params for listener
  openstack/elb/v3/listeners/requests.go
  openstack/elb/v3/listeners/results.go
Labels: LGTM, feature, size/S, approved

#613 feat(lb): support new params for load balancer
  openstack/elb/v2/loadbalancers/requests.go
  openstack/elb/v2/loadbalancers/results.go
  openstack/elb/v3/loadbalancers/requests.go
  openstack/elb/v3/loadbalancers/results.go
  openstack/elb/v3/loadbalancers/urls.go
Labels: LGTM, feature, size/S, approved

#614 feat(RDS): rds instance support read write permissions
  openstack/rds/v3/instances/requests.go
Labels: LGTM, feature, size/XS, approved

#615 feat(dds): support to set replica set name in instance
  openstack/dds/v3/instances/requests.go
  openstack/dds/v3/instances/results.go
  openstack/dds/v3/instances/urls.go
Labels: LGTM, feature, size/S, approved

#616 feat(dds): support restart in instance
  openstack/dds/v3/instances/requests.go
  openstack/dds/v3/instances/urls.go
Labels: LGTM, feature, size/XS, approved

#617 fix(dds): fix name of target type
  openstack/dds/v3/instances/requests.go
Labels: LGTM, bugfix, size/XS, approved

#619 feat(DDS): fix dds flavors
  openstack/dds/v3/flavors/requests.go
  openstack/dds/v3/flavors/results.go
Labels: LGTM, feature, size/XS, approved

#618 feat(RDS): rds instance support second level monitoring
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
Labels: LGTM, feature, size/S, approved

#620 feat(nat): the NAT gateway supports ngport_ip_address field
  openstack/nat/v2/gateways/requests.go
  openstack/nat/v2/gateways/results.go
Labels: LGTM, feature, size/XS, approved

#622 feat(fgs/version): function supports create version
  openstack/fgs/v2/versions/requests.go
Labels: LGTM, feature, size/S, approved
