Repository chnsz/golangsdk, pull requests merged in 2024-06, with the labels that each got.

#641 feat(WAF): WAF dedicated sdk support new field
  openstack/waf_hw/v1/premium_instances/requests.go
Labels: LGTM, feature, size/XS, approved

#642 feat(dms): add new params for kafka topic
  openstack/dms/v2/kafka/topics/requests.go
  openstack/dms/v2/kafka/topics/results.go
Labels: LGTM, feature, size/S, approved

#643 feat(css/flavor): query response supports az attribute
  openstack/css/v1/cluster/results.go
Labels: LGTM, feature, size/XS, approved

#645 fix(DC): fix DC virtual interface response fields
  openstack/dc/v3/interfaces/results.go
Labels: LGTM, bugfix, size/XS, approved

#644 feat(ELB): elb pool add param
  openstack/elb/v3/pools/requests.go
  openstack/elb/v3/pools/results.go
Labels: LGTM, feature, size/XS, approved

#647 fix(ELB): fix elb pool
  openstack/elb/v3/pools/requests.go
  openstack/elb/v3/pools/results.go
Labels: LGTM, bugfix, size/XS, approved

#646 feat(dns/zone): public zone supports modifying status
  openstack/dns/v2/zones/requests.go
  openstack/dns/v2/zones/urls.go
Labels: LGTM, feature, size/XS, approved

#648 fix(ELB): fix elb member param
  openstack/elb/v3/pools/requests.go
Labels: LGTM, bugfix, size/XS, approved

#649 feat(ELB): elb l7policy add params
  openstack/elb/v3/l7policies/requests.go
  openstack/elb/v3/l7policies/results.go
Labels: LGTM, feature, size/M, approved

#651 fix(AS): AS group support new fields.
  openstack/autoscaling/v1/groups/requests.go
  openstack/autoscaling/v1/groups/results.go
Labels: LGTM, bugfix, size/XS, approved

#650 feat(apig/api): new params are supported
  openstack/apigw/dedicated/v2/apis/requests.go
  openstack/apigw/dedicated/v2/apis/results.go
Labels: LGTM, feature, size/XS, approved

#653 feat(dms): support to get task for kafka
  openstack/dms/v2/kafka/instances/requests.go
  openstack/dms/v2/kafka/instances/urls.go
Labels: LGTM, feature, size/XS, approved

#652 feat(as): support lifecycle hook callback parameters and methods
  openstack/autoscaling/v1/lifecyclehooks/requests.go
  openstack/autoscaling/v1/lifecyclehooks/results.go
  openstack/autoscaling/v1/lifecyclehooks/urls.go
Labels: LGTM, feature, size/S, approved

#654 fix(dms): fix region id json name
  openstack/dms/v2/availablezones/results.go
Labels: LGTM, bugfix, size/XS, approved

#655 fix(er/attachment): invalid param label for resource type
  openstack/er/v3/attachments/results.go
Labels: LGTM, bugfix, size/XS, approved
