Repository chnsz/golangsdk, pull requests merged in 2024-12, with the labels that each got.

#701 feat(drs): add new param for job
  openstack/drs/v3/jobs/requests.go
  openstack/drs/v3/jobs/results.go
Labels: LGTM, feature, size/XS, approved

#702 feat(drs): add new attributes for job
  openstack/drs/v3/jobs/results.go
Labels: LGTM, feature, size/XS, approved

#703 feat(errors): error code supports 502 for bad gateway
  errors.go
  provider_client.go
Labels: LGTM, feature, size/XS, approved

#704 feat(dms): support port protocols for kafka instance
  openstack/dms/v2/kafka/instances/results.go
Labels: LGTM, feature, size/XS, approved

#705 feat(WAF): waf dedicated support new field
  openstack/waf_hw/v1/premium_instances/requests.go
Labels: LGTM, feature, size/S, approved

#706 refactor(cce): remove useless attributes in cce node
  openstack/cce/v3/nodes/results.go
Labels: LGTM, size/XS, approved, refactor

#707 feat(apig): API supports new orchestration parameters
  openstack/apigw/dedicated/v2/apis/requests.go
  openstack/apigw/dedicated/v2/apis/results.go
Labels: LGTM, feature, size/XS, approved

#708 feat(evs): evs support new sdk to update volume type
  openstack/evs/v2/cloudvolumes/requests.go
  openstack/evs/v2/cloudvolumes/urls.go
Labels: LGTM, feature, size/S, approved

#710 feat(apig/response): rule supports new headers parameter
  openstack/apigw/dedicated/v2/responses/requests.go
Labels: LGTM, feature, size/XS, approved

#709 feat(apig/channel): add new params support
  openstack/apigw/dedicated/v2/channels/requests.go
  openstack/apigw/dedicated/v2/channels/results.go
Labels: LGTM, feature, size/XS, approved

#711 chore(servicestage/auth): host behavior is no longer required
  openstack/servicestage/v1/repositories/requests.go
Labels: LGTM, size/XS, chore, approved

#712 feat(apig/api): new parameters are supported for request body
  openstack/apigw/dedicated/v2/apis/requests.go
  openstack/apigw/dedicated/v2/apis/results.go
Labels: LGTM, feature, size/XS, approved
