Repository chnsz/golangsdk, pull requests merged in 2024-10, with the labels that each got.

#688 feat(drs): support new param public ip list
  openstack/drs/v3/jobs/requests.go
Labels: LGTM, feature, size/XS, approved

#689 feat(dms): support new param and remove required for some params
  openstack/dms/v2/rabbitmq/instances/requests.go
  openstack/dms/v2/rabbitmq/instances/results.go
Labels: LGTM, feature, size/XS, approved

#690 fix(fgs/async): max async retry attempts supports zero value
  openstack/fgs/v2/function/requests.go
Labels: LGTM, bugfix, size/XS, approved

#691 feat(GaussDBforMySQL): gaussdb mysql instance support version
  openstack/taurusdb/v3/instances/requests.go
  openstack/taurusdb/v3/instances/results.go
  openstack/taurusdb/v3/instances/urls.go
Labels: LGTM, feature, size/S, approved

#692 feat(WAF): waf policy support new field
  openstack/waf_hw/v1/policies/requests.go
Labels: LGTM, feature, size/XS, approved

#693 fix(cdm): fix type of input value
  openstack/cdm/v1/link/requests.go
Labels: LGTM, bugfix, size/XS, approved

#694 feat(ecs): support tags in ListOpts
  openstack/ecs/v1/cloudservers/requests.go
Labels: LGTM, feature, size/XS, approved

#695 feat(GaussDBforNoSQL): gausdb redis instance support az detail
  openstack/geminidb/v3/instances/requests.go
Labels: LGTM, feature, size/S, approved

#697 feat(GaussDBforMySQL): gaussdb mysql instance support slow log show original switch
  openstack/taurusdb/v3/instances/requests.go
  openstack/taurusdb/v3/instances/results.go
  openstack/taurusdb/v3/instances/urls.go
Labels: LGTM, feature, size/S, approved

#696 feat(vpcep): the VPC endpoint service resource supports new fields
  openstack/vpcep/v1/services/requests.go
  openstack/vpcep/v1/services/results.go
Labels: LGTM, feature, size/XS, approved
