Repository chnsz/golangsdk, pull requests merged in 2024-05, with the labels that each got.

#624 feat(RDS): rds instance support modify private dns name prefix
  openstack/rds/v3/instances/requests.go
Labels: LGTM, feature, size/XS, approved

#623 feat(apig): new parameters supported for custom authorizer
  openstack/apigw/dedicated/v2/authorizers/requests.go
  openstack/apigw/dedicated/v2/authorizers/results.go
Labels: LGTM, feature, size/XS, approved

#625 feat(apig): supports updating environment variable
  openstack/apigw/dedicated/v2/environments/requests.go
  openstack/apigw/dedicated/v2/environments/results.go
Labels: LGTM, feature, size/XS, approved

#626 feat(apig/group): supports debugging domain name access feature
  openstack/apigw/dedicated/v2/apigroups/requests.go
  openstack/apigw/dedicated/v2/apigroups/results.go
  openstack/apigw/dedicated/v2/apigroups/urls.go
Labels: LGTM, feature, size/S, approved

#627 feat(RDS): rds instance support slow log show original status
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
Labels: LGTM, feature, size/XS, approved

#628 feat(dds): support to add nodes for replica set instance
  openstack/dds/v3/instances/requests.go
Labels: LGTM, feature, size/XS, approved

#629 feat(dds): support to set maintenance window for instance
  openstack/dds/v3/instances/requests.go
  openstack/dds/v3/instances/urls.go
Labels: LGTM, feature, size/XS, approved

#631 feat(dds): support setting balancer configuration
  openstack/dds/v3/instances/requests.go
  openstack/dds/v3/instances/results.go
  openstack/dds/v3/instances/urls.go
Labels: LGTM, feature, size/S, approved

#632 chore(fgs): modify the paging method of dependent package versions
  openstack/fgs/v2/dependencies/requests.go
  openstack/fgs/v2/dependencies/results.go
Labels: LGTM, size/XS, chore, approved

#633 feat(dds): support to set client network ranges
  openstack/dds/v3/instances/requests.go
  openstack/dds/v3/instances/urls.go
Labels: LGTM, feature, size/S, approved

#630 feat(fgs): add support to attributes for fgs
  openstack/fgs/v2/dependencies/results.go
Labels: LGTM, feature, size/XS, approved

#634 feat(apig): add 'id' parameter related to backend details
  openstack/apigw/dedicated/v2/apis/requests.go
  openstack/apigw/dedicated/v2/apis/results.go
Labels: LGTM, feature, size/XS, approved

#635 feat(cci): CCI network availability_zone from required to optional
  openstack/cci/v1/networks/requests.go
Labels: LGTM, feature, size/XS, approved

#637 feat(ecs): support IP accurate match is ListOpts of instance
  openstack/ecs/v1/cloudservers/requests.go
Labels: LGTM, feature, size/XS, approved

#636 feat(fgs): add func_vpc and network_controller parameter
  openstack/fgs/v2/function/requests.go
  openstack/fgs/v2/function/results.go
Labels: LGTM, feature, size/S, approved

#639 feat(dms): support new param arch type for kafka instance
  openstack/dms/v2/kafka/instances/requests.go
Labels: LGTM, feature, size/XS, approved

#640 feat(modelarts/notebook): support new params for volume strcuture
  openstack/modelarts/v1/notebook/requests.go
  openstack/modelarts/v1/notebook/results.go
Labels: LGTM, feature, size/XS, approved
