Repository chnsz/golangsdk, pull requests merged in 2024-02, with the labels that each got.

#547 fix(CDN): add field ErrorResp to result struct
  openstack/cdn/v1/domains/results.go
Labels: LGTM, bugfix, size/XS

#548 chore(eip): support v3 showPublicip api in eip
  openstack/networking/v3/eips/requests.go
  openstack/networking/v3/eips/results.go
  openstack/networking/v3/eips/urls.go
Labels: size/S, chore

#550 chore(eip): change v3 eip url
  openstack/networking/v3/eips/urls.go
Labels: LGTM, size/XS, chore

#551 feat(apig/instance): the 'elb' instance support ingress EIP
  openstack/apigw/dedicated/v2/instances/requests.go
  openstack/apigw/dedicated/v2/instances/results.go
  openstack/apigw/dedicated/v2/instances/urls.go
Labels: LGTM, feature, size/S

#549 chore(eip): add v3 listPublicip for eip
  openstack/networking/v3/eips/requests.go
  openstack/networking/v3/eips/results.go
  openstack/networking/v3/eips/urls.go
Labels: LGTM, size/M, chore

#553 fix(ccm): modify certificate_chain to optional
  openstack/scm/v3/certificates/requests.go
Labels: bugfix, size/XS

#554 feat(RDS): rds instance support modify configuration
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
  openstack/rds/v3/instances/urls.go
Labels: feature, size/S

#556 feat(dds): modify creating dds instance password to optional
  openstack/dds/v3/instances/requests.go
Labels: LGTM, feature, size/XS

#555 feat(fgs): the datasource supports getting list of application templates
  openstack/fgs/v2/application/requests.go
  openstack/fgs/v2/application/results.go
  openstack/fgs/v2/application/urls.go
Labels: LGTM, feature, size/M

#557 feat(iam): support login protect for user
  openstack/identity/v3.0/users/requests.go
  openstack/identity/v3.0/users/results.go
  openstack/identity/v3.0/users/urls.go
Labels: LGTM, feature, size/S

#558 feat(dli): the resource supports associate elastic resource pool
  openstack/dli/v1/queues/requests.go
  openstack/dli/v1/queues/results.go
  openstack/dli/v3/elasticresourcepool/requests.go
  openstack/dli/v3/elasticresourcepool/results.go
  openstack/dli/v3/elasticresourcepool/urls.go
Labels: LGTM, feature, size/S

#559 feat(BMS): add new API to support query BMS instance list
  openstack/bms/v1/baremetalservers/requests.go
  openstack/bms/v1/baremetalservers/results.go
  openstack/bms/v1/baremetalservers/urls.go
Labels: LGTM, feature, size/S

#561 feat(Kafka): kafka supports paramters updated
  openstack/dms/v2/kafka/instances/requests.go
  openstack/dms/v2/kafka/instances/results.go
  openstack/dms/v2/kafka/instances/urls.go
Labels: LGTM, feature, size/M

#560 feat(fgs): support function reserved instance configuration
  openstack/fgs/v2/function/requests.go
  openstack/fgs/v2/function/results.go
  openstack/fgs/v2/function/urls.go
Labels: LGTM, feature, size/M

#563 feat(fgs/function): support config concurrent requests number
  openstack/fgs/v2/function/requests.go
  openstack/fgs/v2/function/results.go
Labels: feature, size/XS

#562 feat(DCS): dcs supports ssl updated
  openstack/dcs/v2/instances/requests.go
  openstack/dcs/v2/instances/results.go
  openstack/dcs/v2/instances/urls.go
Labels: LGTM, feature, size/S

#566 feat(cce): support resizing cluster
  openstack/cce/v3/clusters/requests.go
Labels: LGTM, feature, size/XS

#565 feat(dds): support dds instance set backup policy and switch second level monitoring
  openstack/dds/v3/instances/requests.go
  openstack/dds/v3/instances/results.go
  openstack/dds/v3/instances/urls.go
Labels: LGTM, feature, size/S
