Repository chnsz/golangsdk, pull requests merged in 2024-09, with the labels that each got.

#676 feat(cce): add HostnameConfig in node
  openstack/cce/v3/nodes/results.go
Labels: LGTM, feature, size/XS, approved

#678 feat(ims): support `CreateSystemImageByVolumeOpts` struct
  openstack/ims/v2/cloudimages/requests.go
Labels: LGTM, feature, size/XS, approved

#679 fix(vpcep): remove policy_document field
  openstack/vpcep/v1/endpoints/requests.go
  openstack/vpcep/v1/endpoints/results.go
Labels: LGTM, bugfix, size/XS, approved

#680 feat(cce): support hostname_config in node attach
  openstack/cce/v3/nodes/requests.go
Labels: LGTM, feature, size/XS, approved

#681 feat(cce): support extensionScaleGroups in node pool
  openstack/cce/v3/nodepools/requests.go
  openstack/cce/v3/nodepools/results.go
Labels: LGTM, feature, size/S, approved

#682 feat(vpcep): the VPC endpoint service resource supports tcp_proxy field
  openstack/vpcep/v1/services/requests.go
Labels: LGTM, feature, size/XS, approved

#683 feat(vpcep): the VPC endpoint and VPC endpoint service resources support ip_version field
  openstack/vpcep/v1/endpoints/results.go
  openstack/vpcep/v1/services/requests.go
  openstack/vpcep/v1/services/results.go
Labels: LGTM, feature, size/XS, approved

#684 feat(GaussDBforMySQL): gaussdb mysql support new methods
  openstack/taurusdb/v3/autoscaling/requests.go
  openstack/taurusdb/v3/autoscaling/results.go
  openstack/taurusdb/v3/autoscaling/urls.go
  openstack/taurusdb/v3/backups/requests.go
  openstack/taurusdb/v3/backups/results.go
  openstack/taurusdb/v3/backups/urls.go
Labels: LGTM, feature, size/M, approved

#685 feat(ecs): add storageType in Flavor results
  openstack/ecs/v1/flavors/results.go
Labels: LGTM, feature, size/XS, approved

#686 feat(drs): support setting kafka security config
  openstack/drs/v3/jobs/requests.go
Labels: LGTM, feature, size/S, approved

#687 feat(ecs): add ServerIDs in JobResponse and OrderResponse
  openstack/ecs/v1/cloudservers/results_job.go
  openstack/ecs/v1/cloudservers/results_order.go
Labels: LGTM, feature, size/XS, approved
