Repository chnsz/golangsdk, pull requests merged in 2024-01, with the labels that each got.

#503 feat(as): add policies datasource sdk support
  openstack/autoscaling/v1/policies/requests.go
  openstack/autoscaling/v1/policies/results.go
  openstack/autoscaling/v1/policies/urls.go
Labels: LGTM, feature, size/M

#510 fix(EVS): resource EVS supports updating QoS of cloudvolume
  openstack/evs/v5/cloudvolumes/requests.go
  openstack/evs/v5/cloudvolumes/resullts.go
  openstack/evs/v5/cloudvolumes/urls.go
Labels: LGTM, feature, bugfix, size/S

#511 feat(DMS): kafka instance result support task
  openstack/dms/v2/kafka/instances/results.go
Labels: feature, size/XS

#513 fix(WAF): change the http request type for updating waf domain to patch
  openstack/waf_hw/v1/domains/requests.go
Labels: bugfix, size/XS

#514 feat(RDS): rds instance support modify replication mode
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
Labels: LGTM, feature, size/S

#515 fix(cdm): fix bug in cdm link sdk
  openstack/cdm/v1/link/requests.go
Labels: LGTM, bugfix, size/XS

#516 feat(RDS): rds instance support switch strategy
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
Labels: LGTM, feature, size/XS

#518 fix(EVS): update the request method and structure of requestbody for t…
  openstack/evs/v5/cloudvolumes/requests.go
Labels: LGTM, bugfix, size/XS

#519 chore(nat): add vpc_id attribute to the private nat gateway response body
  openstack/nat/v3/gateways/results.go
Labels: LGTM, size/XS, chore

#520 feat(VPC): update the requestbody and responsebody of ports
  openstack/networking/v1/ports/requests.go
  openstack/networking/v1/ports/results.go
Labels: LGTM, feature, size/XS

#521 feat(fgs/depend): new functions for version dependencies
  openstack/fgs/v2/dependencies/requests.go
  openstack/fgs/v2/dependencies/results.go
  openstack/fgs/v2/dependencies/urls.go
Labels: feature, size/M

#523 feat(RDS): rds instance support modify collation
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
Labels: LGTM, feature, size/S

#524 feat(workspace): the desktop support power action
  openstack/workspace/v2/desktops/requests.go
  openstack/workspace/v2/desktops/results.go
  openstack/workspace/v2/desktops/urls.go
Labels: LGTM, feature, size/S

#526 feat(VPC): update the requestbody of ports
  openstack/networking/v1/ports/requests.go
Labels: feature, size/XS

#525 feat(DMS): reset password for kafka instance
  openstack/dms/v2/kafka/instances/requests.go
  openstack/dms/v2/kafka/instances/results.go
  openstack/dms/v2/kafka/instances/urls.go
Labels: LGTM, feature, size/S

#527 feat(ECS): ecs instance support auto terminate time
  openstack/ecs/v1/cloudservers/requests.go
  openstack/ecs/v1/cloudservers/results.go
  openstack/ecs/v1/cloudservers/urls.go
Labels: LGTM, feature, size/XS

#528 feat(VPC): update the request body of ports
  openstack/networking/v1/ports/requests.go
Labels: feature, size/XS

#530 fix: OBS SDK upgrade to version 3.23.12
  openstack/obs/CHANGELOG
  openstack/obs/README.MD
  openstack/obs/conf.go
  openstack/obs/const.go
  openstack/obs/convert.go
  openstack/obs/extension.go
  openstack/obs/http.go
  openstack/obs/log.go
  openstack/obs/mime.go
  openstack/obs/model_bucket.go
  openstack/obs/model_object.go
  openstack/obs/progress.go
  openstack/obs/trait_bucket.go
  openstack/obs/type.go
  openstack/obs/util.go
Labels: LGTM, feature, bugfix, size/L

#531 chore(eip): add params for resource vpc bandwidth
  openstack/networking/v1/bandwidths/results.go
  openstack/networking/v2/bandwidths/requests.go
Labels: LGTM, size/XS, chore

#532 feat(DMS): modify flavor with new api
  openstack/dms/v2/rabbitmq/instances/urls.go
Labels: LGTM, feature, size/XS

#533 feat(workspace): the service support unlock action
  openstack/workspace/v2/services/requests.go
  openstack/workspace/v2/services/results.go
  openstack/workspace/v2/services/urls.go
Labels: LGTM, feature, size/S

#534 feat(BMS): bms instance support edit nics
  openstack/bms/v1/baremetalservers/requests.go
  openstack/bms/v1/baremetalservers/urls.go
Labels: LGTM, feature, size/S

#535 chore(workspace/service): modify field type to string
  openstack/workspace/v2/services/results.go
Labels: LGTM, size/XS, chore

#536 feat(RDS): rds instance support update volume size in prepaid mode
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
Labels: LGTM, feature, size/XS

#537 feat(BMS): bms instance support manage server status
  openstack/bms/v1/baremetalservers/requests.go
  openstack/bms/v1/baremetalservers/urls.go
Labels: LGTM, feature, size/S

#538 fix(ecs): modify update methods and add structural parameter
  openstack/ecs/v1/cloudservers/requests.go
Labels: LGTM, bugfix, size/XS

#540 chore(eip): add attributes for bandwidth
  openstack/networking/v1/bandwidths/results.go
Labels: LGTM, size/XS, chore

#539 feat(as): add query policy execute logs list sdk support
  openstack/autoscaling/v1/policyexecutelogs/requests.go
  openstack/autoscaling/v1/policyexecutelogs/results.go
  openstack/autoscaling/v1/policyexecutelogs/urls.go
Labels: LGTM, feature, size/M

#542 fix(Kafka): fix kafka instance param tag from required to omitempty
  openstack/dms/v2/kafka/instances/requests.go
Labels: LGTM, bugfix, size/XS

#541 feat(BMS): bms support edit metadata
  openstack/bms/v1/baremetalservers/requests.go
  openstack/bms/v1/baremetalservers/results.go
  openstack/bms/v1/baremetalservers/urls.go
Labels: LGTM, feature, size/XS

#543 feat(CDN): the resource supports updating private buckets access
  openstack/cdn/v1/domains/requests.go
  openstack/cdn/v1/domains/results.go
  openstack/cdn/v1/domains/urls.go
Labels: LGTM, feature, size/S

#544 chore(eip): add change to period for updating charging mode
  openstack/networking/v1/eips/requests.go
  openstack/networking/v1/eips/results.go
  openstack/networking/v1/eips/urls.go
Labels: LGTM, size/S, chore

#545 chore(iam): add update status function in project
  openstack/identity/v3/projects/requests.go
  openstack/identity/v3/projects/results.go
  openstack/identity/v3/projects/urls.go
Labels: LGTM, size/XS, chore

#546 fix: omitempty for taint spec field "Value"
  openstack/cce/v3/nodes/results.go
Labels: LGTM, bugfix, size/XS
