Repository chnsz/golangsdk, pull requests merged in 2024-07, with the labels that each got.

#656 fix(apig/plugin): fix the invalid attribute reference
  openstack/apigw/dedicated/v2/plugins/results.go
Labels: LGTM, bugfix, size/XS, approved

#657 chore(apig/group): url domain structure supports new attrs
  openstack/apigw/dedicated/v2/apigroups/results.go
Labels: LGTM, size/XS, chore, approved

#658 feat(dms): add param for kafka instance
  openstack/dms/v2/kafka/instances/requests.go
Labels: LGTM, feature, size/XS, approved

#659 feat(dms): support new params and attrs for kafka
  openstack/dms/v2/kafka/instances/requests.go
  openstack/dms/v2/kafka/instances/results.go
Labels: LGTM, feature, size/XS, approved

#661 fix(smn): fix FilterPolicy.StringEquals attr format
  openstack/smn/v2/subscriptions/results.go
Labels: LGTM, bugfix, size/XS, approved

#662 feat(sfs): SFS Turbo support backup_id field
  openstack/sfs_turbo/v1/shares/results.go
Labels: LGTM, feature, size/XS, approved

#663 feat(cce): add some new parameters in node pool
  openstack/cce/v3/nodepools/requests.go
  openstack/cce/v3/nodepools/results.go
Labels: LGTM, feature, size/XS, approved
