Repository chnsz/golangsdk, pull requests merged in 2024-03, with the labels that each got.

#568 feat(dds): support dds instance set description and availability zone and slow log status
  openstack/dds/v3/instances/requests.go
  openstack/dds/v3/instances/results.go
  openstack/dds/v3/instances/urls.go
Labels: LGTM, feature, size/S

#569 feat(nat): public snat rule resource support global_eip_id parameter
  openstack/nat/v2/snats/requests.go
  openstack/nat/v2/snats/results.go
Labels: LGTM, feature, size/XS

#570 feat(kms): add creation parameter origin to support creating import key
  openstack/kms/v1/keys/requests.go
  openstack/kms/v1/keys/results.go
Labels: LGTM, feature, size/XS

#571 feat(drs): support tags in job
  openstack/drs/v3/jobs/results.go
Labels: feature, size/S

#572 feat(nat): public dnat rule resource support global_eip_id parameter
  openstack/nat/v2/dnats/requests.go
  openstack/nat/v2/dnats/results.go
Labels: LGTM, feature, size/XS

#573 feat(fgs/function): support gpu config in function
  openstack/fgs/v2/function/requests.go
  openstack/fgs/v2/function/results.go
Labels: LGTM, feature, size/XS

#574 feat(mrs): cluster support prepaid
  openstack/mrs/v2/clusters/requests.go
  openstack/mrs/v2/clusters/results.go
Labels: LGTM, feature, size/XS

#575 feat(kms): kms support to manage key material of the external key
  openstack/kms/v1/keys/requests.go
  openstack/kms/v1/keys/results.go
  openstack/kms/v1/keys/urls.go
Labels: feature, size/S

#576 feat(DCS): add attribute lanched_at
  openstack/dcs/v2/instances/results.go
Labels: LGTM, feature, size/XS

#577 feat(apig): support binding domain names for specified API groups
  openstack/apigw/dedicated/v2/apigroups/requests.go
  openstack/apigw/dedicated/v2/apigroups/results.go
  openstack/apigw/dedicated/v2/apigroups/urls.go
Labels: LGTM, feature, size/S

#579 fix(DDS): fix dds instance method
  openstack/dds/v3/instances/requests.go
  openstack/dds/v3/instances/results.go
  openstack/dds/v3/instances/urls.go
Labels: LGTM, bugfix, size/M

#582 feat(csms): csms secret resource support expire_time parameter
  openstack/csms/v1/secrets/requests.go
  openstack/csms/v1/secrets/results.go
Labels: LGTM, feature, size/XS

#581 feat(CDN): add new sdk to query cdn domain detail
  openstack/cdn/v1/domains/requests.go
  openstack/cdn/v1/domains/results.go
  openstack/cdn/v1/domains/urls.go
Labels: LGTM, feature, size/S

#583 feat(drs): support select objects in drs job and fix attributes type
  openstack/drs/v3/jobs/results.go
Labels: LGTM, feature, size/XS

#585 chore(vpcep): modify the error related to the routetables parameter
  openstack/vpcep/v1/endpoints/requests.go
Labels: LGTM, size/XS, chore

#588 chore(dli): the package supports no grouping feature
  openstack/dli/v2/spark/resources/requests.go
  openstack/dli/v2/spark/resources/results.go
Labels: LGTM, size/XS, chore

#587 feat(drs): support charging mode in job
  openstack/drs/v3/jobs/requests.go
  openstack/drs/v3/jobs/results.go
Labels: LGTM, feature, size/XS

#589 feat(kms): kms key support keystore_id parameter
  openstack/kms/v1/keys/requests.go
  openstack/kms/v1/keys/results.go
Labels: LGTM, feature, size/XS

#584 feat(dli): the dli package supports tags configuration
  openstack/dli/v3/tags/requests.go
  openstack/dli/v3/tags/urls.go
Labels: LGTM, feature, size/S

#591 chore(er): modify lastmaker method of propagations and associates
  openstack/er/v3/associations/results.go
  openstack/er/v3/propagations/results.go
Labels: LGTM, size/XS, chore

#590 feat(DCS): add new attributes
  openstack/dcs/v2/instances/results.go
Labels: LGTM, feature, size/M

#592 feat(ELB): add new attributes
  openstack/elb/v3/loadbalancers/requests.go
  openstack/elb/v3/loadbalancers/results.go
Labels: LGTM, feature, size/XS

#593 feat(RDS): rds instance support msdtc hosts
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
  openstack/rds/v3/instances/urls.go
Labels: feature, size/S

#594 feat(RDS): rds configurations add attributes created and updated
  openstack/rds/v3/configurations/results.go
Labels: feature, size/XS

#595 feat(drs): support to get progress in job
  openstack/drs/v3/jobs/requests.go
  openstack/drs/v3/jobs/results.go
  openstack/drs/v3/jobs/urls.go
Labels: feature, size/S

#596 feat(RDS): rds instance support startup and shutdown
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
Labels: LGTM, feature, size/M

#597 feat(ELB): listener add new attributes
  openstack/elb/v3/listeners/requests.go
  openstack/elb/v3/listeners/results.go
Labels: LGTM, feature, size/XS

#598 fix(RDS): fix rds instance request and result
  openstack/rds/v3/instances/requests.go
  openstack/rds/v3/instances/results.go
Labels: LGTM, bugfix, size/XS
