Repository chnsz/golangsdk, pull requests merged in 2025-08, with the labels that each got.

#739 feat(error): new kinds of 409 error supported
  errors.go
  provider_client.go
Labels: LGTM, feature, size/XS, approved

#740 refactor(vpcep): refactor PolicyStatement to interface{}
  openstack/vpcep/v1/endpoints/requests.go
  openstack/vpcep/v1/endpoints/results.go
Labels: LGTM, size/XS, approved, refactor

#741 chore(kafka): add new creation api and support the port_protocol parameter
  openstack/dms/v2/kafka/instances/requests.go
  openstack/dms/v2/kafka/instances/urls.go
Labels: LGTM, size/S, chore, approved
